/* [ZP-FID7] use Input font */
body:not(.disable-patch-FID7) {
	.monaco-workbench .pane-composite-part > .title > .composite-bar-container > .composite-bar > .monaco-action-bar .badge .badge-content,
	.monaco-workbench .pane-composite-part > .header-or-footer > .composite-bar-container > .composite-bar > .monaco-action-bar .badge .badge-content {
		font-size: 10px;
		height: 16px;
		line-height: 10px;
	}
}
