/* [ZP-0782] No pointer. */
body:not(.disable-patch-0782) {
	.monaco-workbench .part.statusbar > .items-container > .statusbar-item > .statusbar-item-label {
		cursor: default !important;
	}
}

/* [ZP-FID7] use Input font */
body:not(.disable-patch-FID7) {
	.monaco-workbench .part.statusbar {
		font-family: var(--monaco-condensed-font);
		font-weight: 300;
		font-size: 11px;
	}

	.monaco-workbench .part.statusbar > .items-container > .statusbar-item span.codicon {
		font-size: 11px;
	}
}

/* [ZP-804C] Hide remote icon on status bar if not using remote. */
body:not(.disable-patch-804C) {
	.monaco-workbench .part.statusbar > .items-container > .statusbar-item.remote-kind:not(:has(.codicon)) {
		opacity: 0;
		width: 5.5px; /* should still occupy some space for left margin of the second item */
	}
}
