/* [ZP-3528] Header height 28px */
.monaco-workbench .part > .title,
.monaco-workbench .part > .header-or-footer {
	height: 28px;
}
.monaco-workbench .part > .title > .title-label {
	line-height: 28px;
}
.monaco-workbench .part > .title > .title-actions {
	height: 28px;
}
.monaco-workbench .part > .content > .monaco-progress-container,
.monaco-workbench .part.editor > .content .editor-group-container > .monaco-progress-container {
	top: 26px; /* at the bottom of the 28px height title container */
}
/* Visual spacing adjustments */
.monaco-workbench .part > .header-or-footer {
	margin-bottom: 1px;
}
.monaco-workbench .part > .header-or-footer + * {
	margin-bottom: -1px;
}

/* [ZP-AF32] Hide sidebar top tab (top Activity Bar) if only one item is present */
/* .monaco-workbench .part.sidebar > .header-or-footer.header:has(> *:only-child) {
	display: none;
} */
