.monaco-action-bar .action-item {
	cursor: default;
}

/* [ZP-CPA0] Hide copilot icon in title bar */
.window-title .command-center-center ~ .action-item {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}
.window-title:hover .command-center-center ~ .action-item {
	opacity: 0.8;
}
