/* [ZP-0782] No pointer. */
body:not(.disable-patch-0782) {
	.monaco-workbench .part.editor > .content .editor-group-container > .title .monaco-icon-label::before,
	.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab .monaco-icon-label::before,
	.monaco-workbench .part.editor > .content .editor-group-container > .title .title-label a,
	.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab .tab-label a,
	.monaco-workbench .part.editor > .content .editor-group-container > .title .title-label h2,
	.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab .tab-label span {
		cursor: default;
	}
}

/* [ZP-FID7] use Input font */
body:not(.disable-patch-FID7) {
	.monaco-workbench .part.editor > .content .editor-group-container > .title .title-label a,
	.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab .tab-label {
		font-weight: 200;
	}

	.monaco-workbench .part.editor > .content .editor-group-container > .title .title-label a,
	.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab .tab-label a {
		font-size: 12px;
	}
}

/* [ZP-TL0C] Do not let error or warnings affect the title label color. */
body:not(.disable-patch-TL0C) {
	.monaco-workbench .part.editor > .content .editor-group-container > .title .title-label a,
	.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab .tab-label {
		color: inherit;
	}
}

.monaco-workbench .part.editor > .content .editor-group-container > .title {
	cursor: default;
}
