/* [ZP-FID7] use Input font */
body:not(.disable-patch-FID7) {
	.monaco-editor .zone-widget .zone-widget-container.breakpoint-widget {
		.monaco-select-box {
			font-family: var(--monaco-condensed-font);
		}
	}
}

/* [ZP-E353] Peek view zone widget polish. */
body:not(.disable-patch-E353) {
	.monaco-editor .zone-widget .zone-widget-container.breakpoint-widget {
		border-color: var(--vscode-peekView-border) !important;
	}
}
