/* [ZP-FID7] use Input font */
body:not(.disable-patch-FID7) {
	.monaco-workbench .part.sidebar > .title > .title-label h2,
	.monaco-workbench .part.auxiliarybar > .title > .title-label h2 {
		font-weight: 500;
	}
}

/* [ZP-FT0E] Fix hover color for top bar items contributed by extensions (non-`.action-label.codicon` items also set background). */
body:not(.disable-patch-FT0E) {
	.monaco-workbench .part.sidebar > .header-or-footer > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item:hover .action-label:not(.codicon),
	.monaco-workbench .part.sidebar > .header-or-footer > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item:focus .action-label:not(.codicon),
	.monaco-workbench .part.sidebar > .title > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item:hover .action-label:not(.codicon),
	.monaco-workbench .part.sidebar > .title > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item:focus .action-label:not(.codicon) {
		background-color: var(--vscode-activityBarTop-foreground) !important;
	}
}
