/* [ZP-302B] Thin default scrollbars (4px). */
body:not(.disable-patch-302B) {
	.monaco-editor .peekview-widget .decorationsOverviewRuler,
	.monaco-editor .peekview-widget .scrollbar.vertical {
		width: 4px !important;
	}
}

/* [ZP-E353] Peek view zone widget polish. */
body:not(.disable-patch-E353) {
	.monaco-editor .peekview-widget .decorationsOverviewRuler {
		opacity: 0.8;
	}
}
